nav {
    background-color: #ffffff;
    
    text-align: center;
    font-size: 18px;
}
.menu {
    background-color: #4cd3f5;
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.menu a {  
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 15px;
}
.menu a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #000000;
    color: #000000;
    cursor: pointer;
}
.banniere {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.h1_accueil {
    text-align: center;
    font-size: 50px;
}
.h2_accueil {
    text-align: center;
    font-size: 30px;
}