/*---CSS de base---*/
body {
    margin: 0px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
.menu {
    background-color: #4cd3f5; 
    padding: 10px 0;           
    width: 100%;
    display: flex;
    justify-content: center;   
    gap: 15px;                 
}
.menu a {  
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    padding: 10px 15px;        
    transition: all 0.3s;      
    font-family: sans-serif;
}
.menu a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px; 
}
footer {
    background-color: #4cd3f5;
    font-family: sans-serif;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*---Accueil---*/
.banniere {
    display: flex;
    width: 100%;
    height: auto;
}
.h1_accueil h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}
.h2_accueil h2 {
    text-align: center;
    font-size: 30px;
}